.header{
    width: 100%;
    height: auto;
    background-color: #4C5F6B;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}
.titulo{
    font-size: 20px;
    color: white;
}